<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->

<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->

<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->

<!-- BEGIN HEAD -->

<head>

	<meta charset="utf-8" />

	<title>To find the password</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	<link rel="stylesheet" type="text/css" href="$rc.contextPath/skin/css/select2_metro.css" />
	<link rel="stylesheet" type="text/css" href="$rc.contextPath/skin/css/chosen.css" />
	#parse("common.vm")
	<script type="text/javascript">
		var msgPage = eval("("+"${msgPage}"+")");
		if(msgPage.msg == "error") {
			alert(msgPage.data);
			window.location.href = "$rc.contextPath/user/forgotpassword";
		}
    </script>
	<script type="text/javascript">
		var timeIndex = 180;
		var timeId;
		var validImg = true;
		function nextSendTimeOut() {
			if(timeIndex != 0) {
				$("#nextSend").html(timeIndex + "s");
				timeIndex--;
			} else {
				$("#nextSend").html("");
				window.clearInterval(timeId);
				timeIndex = 180;
				$("#continue").hide();
				$("#userName").attr('disabled',false);
				validImg = true;
				$("#validCode").attr('disabled',false);
				$("#send").attr('disabled',false);
			}
		}
		function sendDetail() {
			if($("#usernamediv").hasClass("error") != -1) {
				return false;
			}
			if($("#validCode").val() == "") {
				alert("Please input valid code");
				return false;
			}
			$("#send").attr('disabled',true);
			validImg = false;
			if($("#userName").val() == "") {
				$("#send").attr('disabled',false);
				alert("Please provide username");
			} else {
    			var data = "userName="+$("#userName").val()+"&validCode="+$("#validCode").val();
				var url = "$rc.contextPath/user/getSecretKey";
				$.ajax({
                	type:"POST",
                   	url:url,
                   	data:data,
                   	success:function(msg){
						var msgRe = eval("("+msg+")");
						if(msgRe.msg == "error") {
							$("#continue").hide();
							$("#send").attr('disabled',false);
							alert(msgRe.data);
						} else {
							$("#send").attr('disabled',true);
							$("#userName").attr('disabled',true);
							$("#continue").show();
							$("#validCode").attr('disabled',true);
							timeId = window.setInterval('nextSendTimeOut()',1000);
							alert("success");
						}
                   	},
					error:function (msg) {
						$("#send").attr('disabled',false);
                        $("#continue").hide();
						alert('fail');
                    }
                });
			}
			changeValidCode();
		}
		function sendSecretKey() {
			if($("#secretKeydiv").hasClass("error") != -1) {
				return false;
			}
			if($("#secretKey").val() == "") {
				alert("Please provide secret key, Has been sent to your mailbox.");
			} else {
    			var url = "$rc.contextPath/user/validate";
    			var data = "userName="+$("#userName").val()+"&secretKey="+$("#secretKey").val();
    			$.ajax({
                	type:"GET",
                   	url:url,
                   	data:data,
					
                   	success:function(msg){
						var msgRe = eval("("+msg+")");
						if(msgRe.msg == "error") {
							$("#continue").hide();
							$("#valid").attr('disabled',false);
							alert(msgRe.data);
						} else {
							$("#valid").attr('disabled',true);
							$("#secretKey").attr('disabled',true);
							$("#continue").show();
							alert("success");
						}
                   	},
					error:function (msg) {
						$("#valid").attr('disabled',false);
                        $("#continue").hide();
						alert('fail');
                    }
                });
			}
		}
		function resetPSW() {
			if($("#passworddiv").hasClass("error") != -1) {
				return false;
			}
			if($("#rpassworddiv").hasClass("error") != -1) {
				return false;
			}
			if($("#rpassword").val() == "" || $("#submit_form_password").val() == "") {
				alert("Please provide new password");
			} else {
				var url = "$rc.contextPath/user/reset";
    			var data = "userName="+$("#userName").val()+"&passWord="+$("#submit_form_password").val();
    			$.ajax({
                	type:"POST",
                   	url:url,
                   	data:data,
					
                   	success:function(msg){
						var msgRe = eval("("+msg+")");
						if(msgRe.msg == "error") {
							$("#continue").hide();
							$("#submit").attr('disabled',false);
							alert(msgRe.data);
						} else {
							$("#submit").attr('disabled',true);
							$("#continue").show();
							$("#submit_form_password").attr('disabled',true);
							$("#rpassword").attr('disabled',true);
							alert("success");
						}
                   	},
					error:function (msg) {
						$("#submit").attr('disabled',false);
                        $("#continue").hide();
						alert('fail');
                    }
                });
			}
		}
		function nextPage() {
			var tab1 = $("#tab1").hasClass("active");
			var tab2 = $("#tab2").hasClass("active");
			var tab3 = $("#tab3").hasClass("active");
			var tab4 = $("#tab4").hasClass("active");
			
			
			if(tab2 != -1) {
				window.clearInterval(timeId);
				if("${userName}" != "" && "${authKey}" != "") {
        			$("#continue").show();
					$("#valid").attr('disabled',true);
        		} else {
					$("#continue").hide();
					$("#valid").attr('disabled',false);
					validImg = true;
				}
			} else if(tab3 != -1) {
				$("#continue").hide();
				$("#submit").attr('disabled',false);
			} else if(tab4 != -1) {
				
			}
		}
		function login() {
			window.location.href = "$rc.contextPath/tologin";
		}
		function changeValidCode() {
			if(validImg) {
				$("#validImg").attr('src','$rc.contextPath/code/captcha-image?index='+parseInt(Math.random()*1000000));
			}
		}
		function validName() {
			if($("#userName").val() == "") {
				return false;
			}
			if($("#usernamediv").hasClass("error") == -1) {
				$.ajax({
                	type:"GET",
                   	url:"$rc.contextPath/user/validName",
                   	data:"userName="+$("#userName").val() + "&type=forgot",
                   	success:function(msg){
						var msgRe = eval("("+msg+")");
						if(msgRe.msg == "error") {
							$("#usernamediv").removeClass("success");
							$("#usernamediv").addClass("error");
							var errorStr = "<span class='validate-inline' for='username'>"+msgRe.data+"</span>";
							$("#usernameError").html(errorStr);
							$("#continue").hide();
						} else {
							$("#usernameError").html("");
						}
                   	},
					error:function (msg) {
						alert('fail');
                    }
                });
			}
		}
	</script>
	
	
</head>

<!-- END HEAD -->

<!-- BEGIN BODY -->

<body class="page-header-fixed">


	<!-- BEGIN CONTAINER -->

		<!-- BEGIN PAGE -->  

		<div class="page">

			<!-- BEGIN PAGE CONTAINER-->

			<div class="container-fluid">

				<!-- BEGIN PAGE HEADER-->   

				<div class="row-fluid">

					<div class="span12">

						<h3 class="page-title">

							Form Wizard

							 <small>To find the password</small>

						</h3>

					</div>

				</div>

				<!-- END PAGE HEADER-->

				<!-- BEGIN PAGE CONTENT-->

				<div class="row-fluid">

					<div class="span12">

						<div class="portlet box blue" id="form_wizard_1">

							<div class="portlet-title">

								<div class="caption">

									<i class="icon-reorder"></i> Wizard - <span class="step-title">Step 1 of 4</span>

								</div>

							</div>

							<div class="portlet-body form">

								<form action="#" class="form-horizontal" id="submit_form">

									<div class="form-wizard">

										<div class="navbar steps">

											<div class="navbar-inner">

												<ul class="row-fluid">

													<li class="span3">
														
														<a href="#tab1" data-toggle="tab" class="step active">
														
														<span class="number">1</span>

														<span class="desc"><i class="icon-ok"></i> Get Secret Key</span>   

														</a>

													</li>
													<li class="span3">
													
														<a href="#tab2" data-toggle="tab" class="step">
													
														<span class="number">2</span>

														<span class="desc"><i class="icon-ok"></i> Provide Secret Key</span>   

														</a>

													</li>

													<li class="span3">

														<a href="#tab3" data-toggle="tab" class="step">

														<span class="number">3</span>

														<span class="desc"><i class="icon-ok"></i> Reset Password</span>   

														</a>

													</li>

													<li class="span3">

														<a href="#tab4" data-toggle="tab" class="step">

														<span class="number">4</span>

														<span class="desc"><i class="icon-ok"></i> Result</span>   

														</a> 

													</li>

												</ul>

											</div>

										</div>

										<div id="bar" class="progress progress-success progress-striped">

											<div class="bar"></div>

										</div>

										<div class="tab-content">

											<div class="alert alert-error hide">

												<button class="close" data-dismiss="alert"></button>

												You have some form errors. Please check below.

											</div>

											<div class="alert alert-success hide">

												<button class="close" data-dismiss="alert"></button>

												Your form validation is successful!

											</div>

												<div class="tab-pane active" id="tab1">

												<h3 class="block">Provide your details-Input your username, According to send your user name is the key to your mailbox</h3>

												<div class="control-group" id="usernamediv">

													<label class="control-label">UserName<span class="required">*</span></label>

													<div class="controls">

														<input type="text" class="span6 m-wrap" id="userName" onblur="javascript:validName();" value="$!{userName}" name="username"/>
														<span class="help-inline">Provide your username</span>
														<div id="usernameError"></div>

													</div>

												</div>
												
												
												<div class="control-group">
													
													<label class="control-label"> <i class="icon-envelope"></i> Email</label>

													<div class="controls">
														
														<img onclick="javascript:changeValidCode();" id="validImg" src="$rc.contextPath/code/captcha-image"/>
														
														&nbsp;&nbsp;
														<input class="span1 m-wrap" id="validCode" type="text"/>
														
														&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
														<input type="button" id="send" class="btn blue" onclick="javascript:sendDetail();" value="Send"/>
														
														<div id="nextSend"></div>
													
													</div>
													

												</div>

											</div>

												<div class="tab-pane" id="tab2">
													
												<h3 class="block">Provide your email of the secret key</h3>

												<div class="control-group" id="secretKeydiv">

													<label class="control-label">Secret Key<span class="required">*</span></label>

													<div class="controls">

														<input type="text" class="span6 m-wrap" id="secretKey" value="$!{authKey}" name="authKey"/>

														<span class="help-inline">Provide your Secret Key</span>

													</div>

												</div>
												<div class="control-group">

													<div class="controls">

														<input type="button" id="valid" onclick="javascript:sendSecretKey();" value="Valid"/>

													</div>

												</div>
												
											</div>

											<div class="tab-pane" id="tab3">

												<h3 class="block">Provide your new password</h3>
												
												<div class="control-group" id="passworddiv">

													<label class="control-label">Password<span class="required">*</span></label>

													<div class="controls">

														<input type="password" class="span6 m-wrap" name="password" id="submit_form_password"/>

														<span class="help-inline">Provide your password</span>

													</div>

												</div>

												<div class="control-group" id="rpassworddiv">

													<label class="control-label">Confirm Password<span class="required">*</span></label>

													<div class="controls">

														<input type="password" class="span6 m-wrap" id="rpassword" name="rpassword"/>

														<span class="help-inline">Confirm your password</span>

													</div>
													
												</div>
												
												<div class="control-group">

													<div class="controls">
														
														<input type="button" id="submit" onclick="javascript:resetPSW();" value="Submit"/>

													</div>

												</div>

											</div>

											<div class="tab-pane" id="tab4">

												<h3 class="block">Success</h3>

												<h4 class="form-section">Prompt</h4>

												<div class="control-group">

													<label class="control-label">Username:</label>
													
													<div class="controls">

														<span class="text display-value" data-display="username"></span>

													</div>
													
												</div>

												<h4 class="form-section">Reset password is success</h4>
												
												<a href="javascript:login();" class="btn green button">

														Login <i class="m-icon-swapright m-icon-white"></i>

												</a>
							
										</div>

										<div class="form-actions clearfix">

											<a href="javascript:nextPage();" style="display:none;" id="continue" class="btn blue button-next">

											Continue <i class="m-icon-swapright m-icon-white"></i>

											</a>
											
										</div>

									</div>
									
                                    </div>

								</form>

							</div>

						</div>

					</div>

				</div>

				<!-- END PAGE CONTENT-->         

			</div>

			<!-- END PAGE CONTAINER-->

		</div>

		<!-- END PAGE -->  

	<!-- END CONTAINER -->
	#parse("bottom.vm")
	
	<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->

	<!-- BEGIN CORE PLUGINS -->
	<script src="$rc.contextPath/skin/js/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
	<!-- IMPORTANT! Load jquery-ui-1.10.1.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
	<script src="$rc.contextPath/skin/js/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>      
	<!--[if lt IE 9]>
	<script src="$rc.contextPath/skin/js/excanvas.min.js"></script>
	<script src="$rc.contextPath/skin/js/respond.min.js"></script>  
	<![endif]-->   
	<script src="$rc.contextPath/skin/js/jquery.slimscroll.min.js" type="text/javascript"></script>
	<script src="$rc.contextPath/skin/js/jquery.blockui.min.js" type="text/javascript"></script>  
	<script src="$rc.contextPath/skin/js/jquery.cookie.min.js" type="text/javascript"></script>
	<script src="$rc.contextPath/skin/js/jquery.uniform.min.js" type="text/javascript" ></script>
	<!-- END CORE PLUGINS -->
	<!-- BEGIN PAGE LEVEL PLUGINS -->
	<script type="text/javascript" src="$rc.contextPath/skin/js/jquery.validate.min.js"></script>
	<script type="text/javascript" src="$rc.contextPath/skin/js/additional-methods.min.js"></script>
	<script type="text/javascript" src="$rc.contextPath/skin/js/jquery.bootstrap.wizard.min.js"></script>
	<script type="text/javascript" src="$rc.contextPath/skin/js/chosen.jquery.min.js"></script>
	<script type="text/javascript" src="$rc.contextPath/skin/js/select2.min.js"></script>
	<!-- END PAGE LEVEL PLUGINS -->
	<!-- BEGIN PAGE LEVEL SCRIPTS -->
	<script src="$rc.contextPath/skin/js/form-wizard.js"></script>     
	<!-- END PAGE LEVEL SCRIPTS -->
	<script>
		jQuery(document).ready(function() {
			FormWizard.init();
		});
		$("#valid").attr('disabled',false);
		$("#validCode").attr('disabled',false);
		if("${userName}" != "" && "${authKey}" != "") {
			$("#send").attr('disabled',true);
			$("#continue").show();
			$("#userName").attr('disabled',true);
			$("#secretKey").attr('disabled',true);
			$("#validCode").attr('disabled',true);
			validImg = false;
		}
		
	</script>
	<!-- END JAVASCRIPTS -->   
<!-- END BODY -->
    </body>
</html>