 <script >

 function confirmAjaxDelete(url, message, theTable) {
        	bootbox.confirm("Are you sure to delete "+ message, function (result) {
            if (result) {
    			jQuery.ajax({
                    url: contextPath + url,
                    success: function (data) {
						if(data.success)
    					{
    					    $("#modal-success").find(".modal-body").html(data.message);
    						$("#modal-success").modal();
							theTable.fnDraw();
    					}else
    					{
    					    $("#modal-danger").find(".modal-body").html(data.message);
    						$("#modal-danger").modal();
    					}
    				}
    			});
            }
           });
		}
</script>
  <!--Success Modal Templates-->
    <div id="modal-success" class="modal modal-message modal-success fade" style="display: none;" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <i class="glyphicon glyphicon-check"></i>
                </div>
                <div class="modal-title">Success</div>

                <div class="modal-body">You have done great!</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
                </div>
            </div> <!-- / .modal-content -->
        </div> <!-- / .modal-dialog -->
    </div>
    <!--End Success Modal Templates-->
	<!--Danger Modal Templates-->
    <div id="modal-danger" class="modal modal-message modal-danger fade" style="display: none;" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <i class="glyphicon glyphicon-fire"></i>
                </div>
                <div class="modal-title">Alert</div>

                <div class="modal-body">You'vd done bad!</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">OK</button>
                </div>
            </div> <!-- / .modal-content -->
        </div> <!-- / .modal-dialog -->
    </div>
    <!--End Danger Modal Templates-->