  #set($page_title = "Add Dish")
 #set($page_header = "Add Dish")
  <!-- Page Body -->
                <div class="page-body">
                    <div class="row">
                        <div class="col-lg-12 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="col-lg-6 col-sm-6 col-xs-12">
                                    <div class="widget radius-bordered">
                                        <div class="widget-header">
                                            <span class="widget-caption">New Dish</span>
                                        </div>
                                        <div class="widget-body">
                                            <form id="defaultForm" name="defaultForm" method="post" class="form-horizontal"  action="$!rc.contextPath/dish/save">
                                            <div class="form-group">
                                                <label  class="col-lg-3 control-label">breakfast<span style="color:#FF0000">*</span></label>
                                                <div class="col-lg-5 controls">
													<div class="radio">
                                                        <label>
															<input class="colored-blueberry" id="status" type="radio" name="isBreakfast" value="1" />
                                                            <span class="text">yes</span>
														</label>
														<label>	
															<input class="colored-blueberry" id="status" type="radio" name="isBreakfast" value="0" checked/>
                                                            <span class="text">no</span>
                                                        </label>
                                                    </div>
												</div>
											    </div>
												 <div class="form-group">
                                                    <label class="col-lg-3 control-label">名字<span style="color:#FF0000">*</span> </label>
													<div class="col-lg-5">
                                                      <textarea class="form-control" rows="3"  name="names" placeholder="可以输入过个名字，用逗号隔开" ></textarea>
													  </div>
                                                </div>
												
                                                 <div class="form-group">
                                                    <div class="col-lg-8 col-lg-offset-4">
                                                        <button type="submit" class="btn btn-blue">Submit</button>
														<button type="button" class="btn"onclick="history.go(-1)">Cancel</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                        </div>
					</div>
                   </div>
           </div>
 <!--Page Related Scripts-->
    <script src="$!{rc.contextPath}/assets/js/validation/bootstrapValidator.js"></script>
 <script>
        $(document).ready(function () {

            $('#defaultForm').bootstrapValidator({
                message: 'This value is not valid',
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                submitHandler: function (validator, form, submitButton) {
                 	this.defaultSubmit();
                },
				fields: {
                    names: {
                        validators: {
                            notEmpty: {
                                message: 'The name is required'
                            }
                        }
                    }
				}
            }).on('success.form.bv', function(e) {
                // Prevent form submission
                e.preventDefault();
    
                // Get the form instance
                var $form = $(e.target);
    
                // Get the BootstrapValidator instance
                var bv = $form.data('bootstrapValidator');
    
                // Use Ajax to submit form data
                $.post($form.attr('action'), $form.serialize(), function(result) {
					if(result.success)
					{
					    $("#modal-success").find(".modal-body").html(result.message);
						$("#modal-success").modal();
					}else
					{
					    $("#modal-danger").find(".modal-body").html(result.message);
						$("#modal-danger").modal();
					}
                }, 'json');
           });
		  });
</script>
