#set($layout="master/empty.vm")
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
    <!-- BEGIN HEAD -->
    <head>
        <meta charset="utf-8" />
        <title>404 Page Option </title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <meta content="" name="description" />
        <meta content="" name="author" />
		<link href="$!rc.contextPath/skin/css/error.css" rel="stylesheet" type="text/css"/>
		#parse("common.vm")
        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN PAGE LEVEL STYLES -->
        
        <!-- END PAGE LEVEL STYLES -->
    </head>
    <!-- END HEAD -->
    <!-- BEGIN BODY -->
    <body class="page-404-full-page">
        <div class="row-fluid">
            <div class="span12 page-404">
                <div class="number">
                    404
                </div>
                <div class="details">
                    <h3>Opps, You're lost.</h3>
                        <p>
                            We can not find the page you're looking for.<br />
                            <a href="index.html">Return home</a>
                            or try the search bar below.
</p>
<form action="#">
    <div class="input-append">
        <input class="m-wrap" size="16" type="text" placeholder="keyword..." />
        <button class="btn blue">Search</button>
    </div>
</form>
                </div>
            </div>
        </div>
       
    </body>
    <!-- END BODY -->
</html>
